<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Test Automation Test Suite">

	<listeners>
		<listener
			class-name="com.demoshop24.utility.ExtentReporterNG" />
	</listeners>


	<test name="DemoShop24 Test Cases" >
		<classes>
			<class name="com.demoshop24.test.LoginTest" />
			<class name="com.demoshop24.test.SearchTest" />
			<class name="com.demoshop24.test.CartItemTest" />

		</classes>
	</test>
</suite>
